# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore model and dataset artifacts
*.h5
*.keras
*.ckpt
*.pb
*.tflite
*.onnx

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore files
CNN.ipynb
readme (2).md